body {
    background-color: white;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.coin {
    align-items: center;
    align-self: center;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

button {
    height: 70px;
    width: 275px;
    font-size: 35px;
    background-color: grey;
    color: white;
    transition: background-color 0.3s ease;
}

button:active {
    transform: scale(0.90);
}

button:hover {
    background-color: lightgray;
    color: black;
    cursor: pointer;
}

img {
    width: 400px;
}